[Alias]
    hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%an] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all 
    llog = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative
    st = status
    rb = rebase
    rbi = rebase -i
    co = checkout
    br = branch
    ci = commit
    r = rev-parse --show-toplevel
    sw = switch
    f = fetch
    s = status
    ap = add . -p
    brr = for-each-ref --sort=committerdate refs/heads/ --format='%(color: green)%(committerdate:short) %(color: cyan)%(refname:short)'
    brs = for-each-ref refs/heads/ --format='%(color: green)%(committerdate:short) %(color: cyan)%(refname:short)'
    ds = diff --staged
    d = diff
# # Place projects hosted on your github in a specific folder and add a ".gitignore_include"-file to the root
# # with a [user] tag containing your anonymized github email.
# # Read more: https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-email-preferences/setting-your-commit-email-address
# [includeIf "gitdir:~/Path/To/Somewhere"]
#     path = ~/source/github/.gitconfig_include
[core]
    quotepath = false
[rerere]
    enabled = true
[pull]
    rebase = true
# [merge]
# 	tool = vscode
# [mergetool "vscode"]
# 	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
# [diff]
# 	tool = vscode
# [difftool "vscode"]
# 	cmd = code --wait --diff $LOCAL $REMOTE
